hr {
  margin-left: 0;
  margin-right: 0;
  color: #BDC3C7;
}

.green {
  color: #769656;
  padding-left: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: scroll;
  border: 10px solid #333;
  background-color: white;
  width: 280px;
  height: 580px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1%;
}

.title {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.column {
  float: left;
  font-family: 'Roboto';
}

.notif {
  padding-top: 10px;
  color: #ff7f7f;
  font-family: 'Roboto';
}
